$width: 640px;
$max-width-mobile: 240px;

@use "..//variables.scss";

.button {
    text-align: center;
    border-radius: 8px;
    margin: 8px 24px;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  
    &--primary {
      color: variables.$colorText;
      background-color: variables.$puple;
      max-width: 100px;
  
      @media (max-width: $width) {
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: $max-width-mobile;
        height: 49px;
        margin: auto;
        display: block;
      }
    }
  
    @media (max-width: $width) {
      text-align: center;
      align-items: center;
      width: 100%;
      max-width: $max-width-mobile;
      height: 49px;
      margin: auto;
      display: block;
    }
  }