$width: 640px;

@use "../variables.scss";

.info__bar {
    background-color: variables.$colorText;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  
    &__infos {
      gap: 40px;
      padding: 16px;
      display: flex;
  
      &__item {
        margin-bottom: 30px;
      }
    }
  
    &__item {
      font-size: 14px;
  
      b {
        color: variables.$colorText2;
        font-size: 18px;
        display: block;
      }
  
      &__text {
        color: variables.$colorText2;
        padding-top: 5px;
      }

      &__title {
        padding-top: 5px;

      }
    }
  
    @media (max-width: $width) {
      margin: 0 auto 8px;
      display: block;
  
      &__infos {
        display: block;
      }
  
      &__title {
        padding-top: 5px;
      }
  
      &__text {
        padding-bottom: 20px;
      }
    }
  }